---
import Layout from "../layouts/Layout.astro";
import Cta1 from "../components/cta1.astro";
import Cta2 from "../components/cta2.astro";
import Cta3 from "../components/cta3.astro";
import Slideshow from "../components/slideshow.astro";
import Tekst from "../components/forsidetekst.astro";
import Card from "../components/card.astro";
import Carousel from "../components/Carousel.astro";
import Formular from "../components/formular.astro";
import Formular2 from "../components/formular2.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";

const cards = [
  {
    img: "img/menu1.webp",
    overskrift: "Netværksvenner",
    beskrivelse:
      "Frivillige netværksvenner giver deres tid, nærvær og venskab til et socialt udsat menneske.",
  },
  {
    img: "img/menu2.webp",
    overskrift: "Økonomirådgivningen",
    beskrivelse:
      "WeShelters økonomi- og gældsrådgivning tilbyder gratis og uvildig rådgivning til mennesker i hjemløshed og andre udsatte positioner.",
  },
  {
    img: "img/menu7.webp",
    overskrift: "De sociale madklubber",
    beskrivelse:
      "I vores sociale madklubber laver du lækker mad i fællesskab med andre frivillige og socialt udsatte.",
  },
  {
    img: "img/menu3.webp",
    overskrift: "Peer-to-peer",
    beskrivelse:
      "Peer-frivillige er personer, som har erfaring med hjemløshed, der støtter nuværende hjemløse.",
  },
  {
    img: "img/menu4.webp",
    overskrift: "Møbelhjælp",
    beskrivelse:
      "Gennem indsamling og transport af møbler hjælper vi hjemløse, der finder en bolig, med at gøre den til et hjem.",
  },
  {
    img: "img/menu5.webp",
    overskrift: "Yoga",
    beskrivelse:
      "Yoga-frivillige giver ro og nærvær gennem yogaundervisning til mennesker, hvis liv er præget af kaos.",
  },
  {
    img: "img/menu6.webp",
    overskrift: "LGBT+ venner",
    beskrivelse:
      "LGBT+ venner tilbyder deres venskab og omsorg til en social udsat LGBT+ person.",
  },
  {
    img: "img/menu8.webp",
    overskrift: "Ledelse af en aktivitet",
    beskrivelse:
      "Er du god til at koordinere? Har du erfaring med ledelse, eller drømmer du om at få det? Så bliv frivillig leder!",
  },
  {
    img: "img/menu9.webp",
    overskrift: "Massage",
    beskrivelse:
      "Massage-frivillige giver ro, nærvær og øget kropsbevidsthed til mennesker, hvis liv er præget af kaos.",
  },
  {
    img: "img/menu10.webp",
    overskrift: "Aktivitetsklubber",
    beskrivelse:
      "Frivillige oplevelser og fællesskab til mennesker i rusmiddelbehandling og unge hjemløse gennem sociale gruppeaktiviteter.",
  },
];
---

<Layout>
  <header>
    <Header />
  </header>
  <main>
    <Slideshow />
    <Tekst />
    <Carousel cards={cards} />
    <div class="bliv_frivillig">
      <h2>Bliv frivillig i dag</h2>
      <img class="vector" src="/public/img/Vector2.svg" alt="orange streg" />
      <h3>Gør en forskel</h3>
    </div>

    <Formular
      overskrift="Vælg dit bridrag"
      navn1="De sociale madklubber"
      navn2="Økonomirådgivning"
      navn3="Aktivitetsklubber"
      navn4="Yoga"
      navn5="Møbelhjælp"
      navn6="Netværksvenner"
      navn7="Peer-to-Peer"
      navn8="LGBT+ venner"
      navn9="Massage"
      navn10="Ledelse af en aktivitet"
    />
    <Formular2 />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

<style>
  .bliv_frivillig {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }
</style>
