---
import LayoutSubpage from "../layouts/LayoutSubpage.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Folder from "../components/folder.astro";
import Cta4 from "../components/cta4.astro";
import Formular3 from "../components/formular3.astro";
import Cta5 from "../components/cta5.astro";
import Foldermenu from "../components/folder-menu.astro";
---

<LayoutSubpage>
  <header>
    <Header />
  </header>
  <main>
    <Cta4 link="/" button="Tilbage" />
    <section class="hero" id="hero">
      <h1>De sociale madklubber</h1>
      <img src="/img/menu7.webp" alt="tegning af madklub" />
      <p>
        I vores sociale madklubber er det gode måltid samlingspunktet for frivillige, hjemløse og socialt udsatte. Planlægning, indkøb og tilberedningen klares i fællesskab. Der er plads til alle, også selvom overskuddet kun rækker til foldning af
        middagsservietter ved spisebordet. For mange er maden i madklubben det eneste varme måltid, de får på ugen. For andre er selskabet og de gode samtaler et tiltrængt pusterum fra ensomheden derhjemme.
      </p>
    </section>

    <Formular3 />
    <div class="desktop">
      <Foldermenu />
    </div>
    <section class="folder_menu">
      <div class="knapper">
        <Cta4 link="#madklub1" button="Madklubben" />
        <Cta4 link="#hvor1" button="Hvor" />
        <Cta4 link="#hvornår1" button="Hvornår" />
        <Cta4 link="#frivillige1" button="Mød de frivillige" />
      </div>

      <div class="blue" id="madklub1">
        <Folder
          overskrift="Hvad er en social madklub"
          tekst1="Madklubberne findes på vores herberger og væresteder. Her laver frivillige og brugere/beboere i fællesskab lækker og næringsrig mad, der passer til små budgetter."
          billede="/img/folder1.webp"
        />
      </div>
      <div id="hvor1">
        <Folder overskrift="Hvor er vores madklub arrangementer" tekst1="Vores madklub arrangementer bliver afholdt i vores forskellige væresteder, hvor der bliver afholdt middag på langbord" billede="/img/folder2.webp" />
      </div>
      <div class="blue" id="hvornår1">
        <Folder overskrift="Hvornår er der madklub arrangementer?" tekst1="Datoer for arrangementer:" tekst2="21/3 klokken 18-20 Vesterbro" tekst3="28/3 klokken 18-20 Østerbro" tekst4="4/4 klokken 18-20 Nørrebro" billede="/img/folder3.webp" />
      </div>
      <div id="frivillige1">
        <Folder
          overskrift="Vores frivillige fortæller:"
          tekst1="“Jeg er super glad for at være frivillig i madklubberne, man møder folk i øjenhøjde og får givet et smil eller to med på vejen” - Vivi 54 år"
          tekst2="“Jeg bor alene og nyder også selv at være en del af madklubberne for det sociale perspektiv” - ole 35 år"
          billede="/img/folder4.webp"
        />
      </div>
    </section>
    <div class="toppen">
      <Cta4 link="#hero" button="Til toppen" />
    </div>
  </main>
  <footer>
    <Footer />
  </footer>
</LayoutSubpage>

<style>
  .blue {
    background-color: #0076f1;
    color: white;
    padding-bottom: 0;
    z-index: 5;
  }
  .hero {
    margin-left: 4vw;
    margin-right: 4vw;
    line-height: 6vw;
    padding: 2vw;
  }
  .hero img {
    width: 80%;
    justify-self: center;
  }
  .hero h1 {
    text-align: center;
    font-size: 7vw;
    margin-top: 4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 8vw;
  }
  .knapper {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    margin-bottom: 2vw;
    margin-top: 4vw;
  }
  .toppen {
    position: relative;
    right: 0%;
    width: 100%;
  }
  .desktop {
    display: none;
  }

  @media screen and (min-width: 760px) {
    .hero img {
      width: 40%;
    }
    .hero h1 {
      font-size: 4vw;
    }
    .hero {
      text-align: center;
      margin-left: 16vw;
      margin-right: 16vw;
      line-height: 2vw;
      padding: 2vw;
    }
    .knapper {
      display: flex;
      flex-direction: row;
      column-gap: 4vw;
      z-index: -2;
      margin-top: 4vw;
      justify-content: space-between;
    }
    .blue {
      margin-top: -5%;
      z-index: 5;
    }
    .folder_menu {
      display: none;
    }
    .toppen {
      display: none;
    }
    .desktop {
      display: block;
    }
  }
</style>
