---
import Layout from "../layouts/LayoutSubpage.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
---

<Layout>
  <header>
    <Header />
  </header>
  <main></main>
  <footer>
    <Footer />
  </footer>
</Layout>
