---
const { button, id } = Astro.props;
---

<article>
  <div class="knap_next" id={id}>{button}</div>
  <!-- <a href="#">{button}</a> -->
</article>

<style>
  article {
    display: flex;
  }

  .knap_next {
    border-radius: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    margin: auto;
    display: inline-block;
    transition:
      transform 0.1s ease-in-out,
      background-color 0.1s ease,
      color 0.1s ease;
    font-weight: 700;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    a {
      padding: 10px 50px;
      margin: auto;
      font-size: 30px;
    }
  }

  .knap_next:hover {
    transform: scale(1.05);
    background-color: #1c49a4;
    color: white;
  }
</style>
