---
const { button } = Astro.props;
---

<article>
  <a href="#">{button}</a>
</article>

<style>
  a {
    border-radius: 50px;
    background-color: #1c49a4;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    margin: auto;
    display: inline-block;
    transition:
      transform 0.1s ease-in-out,
      background-color 0.1s ease,
      color 0.1s ease;
  }

  @media (min-width: 768px) {
    a {
      padding: 10px 50px;
      margin: auto;
      font-size: 30px;
    }
  }

  a:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
  }
</style>
