---
const { button, id } = Astro.props;
---

<article>
  <div class="knap_next" id={id}>{button}</div>
  <!-- <a href="#">{button}</a> -->
</article>

<style>
  .knap_next {
    z-index: 10;
    border-radius: 50px;
    font-weight: 600;
    background-color: #1c49a4;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    margin: auto;
    display: inline-block;
    transition:
      transform 0.1s ease-in-out,
      background-color 0.1s ease,
      color 0.1s ease;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    .knap_next {
      padding: 10px 50px;
      margin: auto;
      font-size: 20px;
    }
  }

  .knap_next:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
  }
</style>
