---
import Folder from "../components/folder.astro";
import Cta5 from "../components/cta5.astro";
---

<div class="knapper">
  <Cta5 button="Madklubben" id="madklub-cta" />
  <Cta5 button="Hvor" id="hvor-cta" />
  <Cta5 button="Hvornår" id="hvornår-cta" />
  <Cta5 button="Mød de frivillige" id="frivillige-cta" />
</div>
<article>
  <div id="madklub">
    <Folder
      overskrift="Hvad er en social madklub"
      tekst1="Madklubberne findes på vores herberger og væresteder. Her laver frivillige og brugere/beboere i fællesskab lækker og næringsrig mad, der passer til små budgetter."
      billede="/img/folder1.webp"
    />
  </div>
  <div id="hvor">
    <Folder overskrift="Hvor er vores madklub arrangementer" tekst1="Vores madklub arrangementer bliver afholdt i vores forskellige væresteder, hvor der bliver afholdt middag på langbord" billede="/img/folder2.webp" />
  </div>
  <div id="hvornår">
    <Folder overskrift="Hvornår er der madklub arrangementer?" tekst1="Datoer for arrangementer:" tekst2="21/3 klokken 18-20 Vesterbro" tekst3="28/3 klokken 18-20 Østerbro" tekst4="4/4 klokken 18-20 Nørrebro" billede="/img/folder3.webp" />
  </div>
  <div id="frivillige">
    <Folder
      overskrift="Vores frivillige fortæller:"
      tekst1="“Jeg er super glad for at være frivillig i madklubberne, man møder folk i øjenhøjde og får givet et smil eller to med på vejen” - Vivi 54 år"
      tekst2="“Jeg bor alene og nyder også selv at være en del af madklubberne for det sociale perspektiv” - ole 35 år"
      billede="/img/folder4.webp"
    />
  </div>
</article>

<style>
  .knapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: -2%;
  }
  .hide {
    visibility: hidden;
  }
  .opacity {
    opacity: 44%;
  }
  #madklub,
  #hvor,
  #hvornår,
  #frivillige {
    position: absolute;
    top: 0;
    background-color: #0076f1;
    color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-right: 0;
    width: 100%;
  }
  article {
    position: relative;
    margin-bottom: 50vw;
  }
</style>

<script>
  window.addEventListener("load", start);
  function start() {
    hideAllScreens();
    console.log("hallog");
    document.querySelector("#madklub")?.classList.remove("hide");
    document.querySelector("#madklub-cta")?.classList.add("blue");

    document.querySelector("#hvor-cta")?.classList.remove("blue");
    document.querySelector("#hvornår-cta")?.classList.remove("blue");
    document.querySelector("#frivillige-cta")?.classList.remove("blue");

    document.querySelector("#hvor-cta")?.addEventListener("click", hvor);
    document.querySelector("#hvornår-cta")?.addEventListener("click", hvornår);
    document.querySelector("#frivillige-cta")?.addEventListener("click", frivillig);
  }

  function hideAllScreens() {
    console.log("niuu");
    document.querySelector("#madklub")?.classList.add("hide");
    document.querySelector("#hvor")?.classList.add("hide");
    document.querySelector("#hvornår")?.classList.add("hide");
    document.querySelector("#frivillige")?.classList.add("hide");
  }

  function hvor() {
    hideAllScreens();
    document.querySelector("#hvor")?.classList.remove("hide");
    document.querySelector("#hvor-cta")?.classList.add("blue");

    document.querySelector("#madklub-cta")?.classList.remove("blue");
    document.querySelector("#hvornår-cta")?.classList.remove("blue");
    document.querySelector("#frivillige-cta")?.classList.remove("blue");

    document.querySelector("#madklub-cta")?.addEventListener("click", start);
    document.querySelector("#hvornår-cta")?.addEventListener("click", hvornår);
    document.querySelector("#frivillige-cta")?.addEventListener("click", frivillig);
  }

  function hvornår() {
    hideAllScreens();
    document.querySelector("#hvornår")?.classList.remove("hide");
    document.querySelector("#hvornår-cta")?.classList.add("blue");

    document.querySelector("#madklub-cta")?.classList.remove("blue");
    document.querySelector("#hvor-cta")?.classList.remove("blue");
    document.querySelector("#frivillige-cta")?.classList.remove("blue");

    document.querySelector("#madklub-cta")?.addEventListener("click", start);
    document.querySelector("#hvor-cta")?.addEventListener("click", hvor);
    document.querySelector("#frivillige-cta")?.addEventListener("click", frivillig);
  }

  function frivillig() {
    hideAllScreens();
    document.querySelector("#frivillige")?.classList.remove("hide");
    document.querySelector("#frivillige-cta")?.classList.add("blue");

    document.querySelector("#madklub-cta")?.classList.remove("blue");
    document.querySelector("#hvornår-cta")?.classList.remove("blue");
    document.querySelector("#hvor-cta")?.classList.remove("blue");

    document.querySelector("#madklub-cta")?.addEventListener("click", start);
    document.querySelector("#hvornår-cta")?.addEventListener("click", hvornår);
    document.querySelector("#hvor-cta")?.addEventListener("click", hvor);
  }
</script>
