---
import Cta1 from "../components/cta1.astro";
---

<article>
  <section class="billede">
    <img class="galleri" src="/img/footergalleri.svg" alt="billedegalleri" />
    <div class="knap">
      <Cta1 button="Støt" class="cta-knap" />
    </div>
  </section>
  <section class="grid">
    <div class="hide">
      <h3>Fonden Missionen blandt Hjemløse</h3><p>
        Vi arbejder for at give hjemløse og udsatte bedre vilkår. Målet er at
        gøre op med hjemløshed, ensomhed og psykisk mistrivsel. Arbejdet sker på
        herberger, væresteder og i frivillige indsatser.
      </p>
    </div>

    <div>
      <h3>Genveje</h3>
      <p><a href="">Få hjælp</a></p>
      <p><a href="/index">Bliv frivillig</a></p>
      <p><a href="">Om os</a></p>
      <p><a href="/subpage">madklub</a></p>
    </div>
    <div>
      <h3>Kontakt</h3>
      <p>Slotsgade 2, 1. sal</p>
      <p>2200 København N</p>
      <p>TLF: 36161113</p>
      <br />
      <p>kontakt@weshelter.dk</p>
      <p>CVR 8096515</p>
    </div>
  </section>
  <div class="divider"></div>
  <div class="socials">
    <img src="/img/linkedin.webp" alt="LinkIn" />
    <img src="/img/facebook.webp" alt="Facebook" />
    <img src="/img/instagram.webp" alt="Instagram" />
    <img src="/img/twitter.webp" alt="X" />
  </div>
  <p class="copyright">Copyright © 2025 Fonden Missionen blandt Hjemløse</p>
</article>

<style>
  article {
    margin-top: 20vw;
    background-color: #0f172a;
    color: white;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2vw;
    padding: 2vw;
    padding-bottom: 2rem;
  }

  .hide {
    display: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  img {
    width: 100%;
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: #333a4a;
  }

  .socials {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .socials img {
    width: 10%;
  }

  .copyright {
    color: #878b95;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .knap {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -300%);
    z-index: 10;
  }

  @media (min-width: 1024px) {
    .hide {
      display: block;
      padding-inline: 2rem;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 2vw;
      padding: 2vw;
      padding-bottom: 2rem;
    }

    .socials {
      gap: 3rem;
    }
    .socials img {
      width: 3%;
    }
    .knap {
      transform: translate(-50%, -800%);
    }
  }
</style>
