<div class="forsidetekst">
  <h1>Små ting med <strong class="stor">STOR</strong> betydning</h1>
  <h2>Brug dit overskud på dem der mangler det.</h2>
  <h3>
    Vær med til at give <strong>hjemløse</strong> og <strong
      >socialt udsatte</strong
    > en bedre hverdag. Frivillighed er en helt central del af vores arbejde i Missionen
    blandt Hjemløse, og som frivillig er du med til at skabe unikke relationer og
    gøre en forskel for hjemløse og socialt udsatte.
  </h3>

  <video
    class="video"
    src="/video/weshelter.mp4"
    autoplay
    loop
    muted
    playsinline
    controls
  >
  </video>
  <h3 class="nederst">
    Se nedenfor, hvilke muligheder, der er for at blive frivillig, og læs mere
    om, hvad det frivillige arbejde hos os indebærer.
  </h3>
</div>

<style>
  @font-face {
    font-family: "Anton";
    src:
      url("../../public/fonts/Anton-Regular.woff2") format("woff2"),
      url("../../public/fonts/Anton-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --primary-color: #0076f1;
    --secondary-color: #fe8f29;
    --footer-color: #0f172a;
  }

  .forsidetekst {
    padding-inline: 4rem;
  }

  h1 {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    text-align: center;
    padding-top: 1rem;
  }

  .stor {
    font-size: 2rem;
    color: var(--secondary-color);
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }

  .video {
    width: 100%;
    border-radius: 1rem;
  }

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 4.5rem;
      padding-top: 0.5rem;
    }

    .stor {
      font-size: 6.5rem;
    }

    h2,
    h3 {
      font-size: 1.5rem;
      padding-inline: 15rem;
      padding-top: 0rem;
    }

    .nederst {
      padding-top: 6rem;
      padding-inline: 21rem;
    }

    video {
      width: 100%;
      max-width: 800px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
</style>
